{{define "index.content"}}
    <div class="content">
        <h2 class="index-title">Letzte Beiträge</h2>
        <div class="index-grid">
            {{range .RecentContribs}}
            <a href="/derive/{{.Number}}" class="derive-card">
                <div class="card-image-box">
                    {{if .ImageUrl}}
                        <img src="{{.ImageUrl}}" alt="{{.Title}}" class="card-img">
                    {{else}}
                        <div class="no-image">NO IMAGE</div>
                    {{end}}

                    <div class="contrib-badge">{{.CreatedAt.Format "02.01.2006 15:04"}}</div>
                </div>

                <div class="card-content index-meta">
                    <span class="card-number">#{{printf "%03d" .Number}}</span>
                </div>
            </a>
            {{else}}
            <div class="empty-state">Noch keine Beiträge. Sei der Erste!</div>
            {{end}}
        </div>
    </div>
{{end}}