{{define "header"}}
<header class="site-header">
    <div class="brand">
        <h1>🏠 🆔 💯</h1>
    </div>
    <nav class="main-nav">
        <a href="/" {{if eq .CurrentPath "/"}}class="nav-active"{{end}}>Start</a>
        <a href="/deriven" {{if eq .CurrentPath "/deriven"}}class="nav-active"{{end}}>1-100</a>
        <a href="/spielregeln" {{if eq .CurrentPath "/spielregeln"}}class="nav-active"{{end}}>Spielregeln</a>
        <a href="/about" {{if eq .CurrentPath "/about"}}class="nav-active"{{end}}>Über</a>
        <a href="/upload" {{if eq .CurrentPath "/upload"}}class="nav-active"{{end}}>Upload</a>
    </nav>
</header>
{{end}}