{{define "leitfaden.content"}}
    <div class="container rules">
        <h2>🚨</h2>
        <p>Innenstadt (🏠) ID (🆔) -100 (💯) ist ein identitätsstiftendes Werkzeug für subjektive Innenstadtwahrnehmung.<br/>
        Du befindest dich auf einem kollektiven Innenstadt-Portrait.</p>
        
        <!-- Product Slideshow -->
        <div class="product-slideshow-wrapper">
            <div class="swiper product-slideshow">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/static/assets/images/photos/innenstadt-id-100_product_shot-1.JPG" alt="Innenstadt ID-100 Werkzeug">
                    </div>
                    <div class="swiper-slide">
                        <img src="/static/assets/images/photos/innenstadt-id-100_product_shot-2.JPG" alt="Innenstadt ID-100 Werkzeug">
                    </div>
                    <div class="swiper-slide">
                        <img src="/static/assets/images/photos/innenstadt-id-100_product_shot-3.JPG" alt="Innenstadt ID-100 Werkzeug">
                    </div>
                    <div class="swiper-slide">
                        <img src="/static/assets/images/photos/innenstadt-id-100_product_shot-4.JPG" alt="Innenstadt ID-100 Werkzeug">
                    </div>
                    <div class="swiper-slide">
                        <img src="/static/assets/images/photos/innenstadt-id-100_product_shot-5.JPG" alt="Innenstadt ID-100 Werkzeug">
                    </div>
                    <div class="swiper-slide">
                        <img src="/static/assets/images/photos/innenstadt-id-100_product_shot-6.JPG" alt="Innenstadt ID-100 Werkzeug">
                    </div>
                    <div class="swiper-slide">
                        <img src="/static/assets/images/photos/innenstadt-id-100_product_shot-7.JPG" alt="Innenstadt ID-100 Werkzeug">
                    </div>
                </div>
                
                <!-- Navigation -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                
                <!-- Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
        
        <p>
            🚨 🚨 🚨 Dies ist eine Einladung an dich. 🚨 🚨 🚨<br/>
            🚨 🚨 🚨 Dies ist eine Einladung zum Dokumentieren und zum Produzieren. Du solltest sie <a href="/werkzeug-anfordern" class="drawer-link leitfaden-cta" role="button" aria-label="Werkzeug anfordern">&gt;&gt;&gt;JETZT&lt;&lt;&lt;</a> annehmen. 🚨 🚨 🚨
        </p>
        <p>
            Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz<br/>
            Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz<br/>
            Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz
        </p>
        <p>
            Fordere … dein … Werkzeug … an … und …w…a…r…t…e… auf … eine … Reaktion.
        </p>
        <p>
            Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz<br/>
            Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz<br/>
            Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz Zzz
        </p>
        <p>
            Dies ist dein Leitfaden________________________________________________________________ mit
#1 #2 #3 #4 #5 #6 #7 #8 #9 #10 #11 #12 #13 #14 #15 #16 #17 #18 #19 #20 #21 #22 #23 #24 #25 #26 #27 #28 #29 #30 #31 #32 #33 #34 #35 #36 #37 #38 #39 #40 #41 #42 #43 #44 #45 #46 #47 #48 #49 #50 #51 #52 #53 #54 #55 #56 #57 #58 #59 #60 #61 #62 #63 #64 #65 #66 #67 #68 #69 #70 #71 #72 #73 #74 #75 #76 #77 #78 #79 #80 #81 #82 #83 #84 #85 #86 #87 #88 #89 #90 #91 #92 #93 #94 #95 #96 #97 #98 #99 #100 🆔s. (💯)
        </p>
        <p>
            Wenn du die Einladung angenommen hast, folgst du der AUFFORDERUNG, andere teilhaben zu lassen.
        </p>
        <p>
            Mit dem Werkzeug bekommst du Zugang zu einem verschlüsselten Ort.<br />
            Folge den Anweisungen. 📦
        </p>
    </div>
{{end}}
